<form name="spForm" novalidate>
  <h2>{{currentTournament.name}}</h2>
  <fieldset>
    <legend>Mecz</legend>
    <div class="row">
      <div class="col-md-6 ">
        <div class="form-group">
          <label for="player1" class="control-label">Zawodnik 1</label>
          <select class="form-control " id="player1" ng-model="current.firstPlayer"
                  ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname' required btr-validation></select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="player2" class="control-label">Zawodnik 2</label>
          <select class="form-control " id="player2" ng-model="current.secondPlayer"
                  ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname' required btr-validation></select>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div class="modal fade" id="saveModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodawanie meczu</h4>
      </div>
      <div class="modal-body">
        <p>Zakończona pomyślnie</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-footer text-center">
    <button type="button" class="btn btn-default" ui-sref="scores" >Anuluj</button>
    <button type="button" class="btn btn-danger" ng-if="current.id" ng-click="remove(current)" >Usun</button>
    <button type="button" class="btn btn-success" ng-if="current.id" ng-click="save(current)" ng-disabled="spForm.$invalid || spForm.$pristine">Aktualizuj</button>
    <button type="button" class="btn btn-success" ng-if="!current.id" ng-click="save(current)" ng-disabled="spForm.$invalid || spForm.$pristine">Dodaj</button>
    <button type="button" class="btn btn-info" ng-if="current.id" ng-click="create()" >Nowy mecz</button>
  </div>
</div>

<br><br>
<legend >Lista meczow turnieju - {{currentTournament.name}}</legend>
<div ng-show="!tournamentMatches.length">
  <div class="alert alert-warning">
    <strong>Uwaga!</strong> Brak dodanych meczow.
  </div>
</div>
<table ng-show="tournamentMatches.length" class="table table-hover table-striped">
  <thead>
  <th>Numer</th>
  <th>Zawodnik 1</th>
  <th>Zawodnik 2</th>
  </thead>
  <tbody>
  <tr ng-repeat="matchRow in tournamentMatches | unique:'id'">
    <td>{{$index+1}}.</td>
    <td class="col-md-6">
      <div class="form-group">
        <label class="control-label">{{matchRow.firstPlayer.name}} {{matchRow.firstPlayer.surname}} - telefon: {{matchRow.firstPlayer.telephone}}</label>
      </div>
    </td>
    <td class="col-md-6">
      <div class="form-group">
        <label class="control-label">{{matchRow.secondPlayer.name}} {{matchRow.secondPlayer.surname}} - telefon: {{matchRow.secondPlayer.telephone}}</label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
